<div>
    <h1>Like Compulsory</h1>
    <ul>
        <div *ngFor='let diary of diaries; let i = index'>
            <p>
                <li appHighlight>
                    {{ diary.name }} on {{ diary.completeDate|date }}
                    <button (click)='toggleDetails(i)'>Check it Out</button>
                    <app-diary-detail *ngIf='diary.showDescription' [diary]='diary' (isComplete)='completeDiary($event,1)'></app-diary-detail>
                </li>
            </p>
        </div>
    </ul>
</div>